.logo {
  position: absolute;
  transition: left 1.5s ease, top 1.5s ease;
}

.logo.moving {
  animation: moveAnimation 2.5s forwards;
}

@keyframes moveAnimation {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100px, 100px);
    /* Adjust as needed */
  }
}
