.logo {
  position: absolute;
  transition: left 1s, top 1s;
}

.logo.moving {
  animation: moveAnimation 1s forwards;
}

@keyframes moveAnimation {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100px, 100px);
    /* Adjust as needed */
  }
}
